@using OnlineTicaret.Models.Siniflar
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaID</td>
            <td>@k.FaturaSiraNo</td>
            <td>@k.FaturaSeriNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td>@k.Toplam ₺</td>
            <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-success" style="background-color:pink; color:white">Detaylar</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-success" style="background-color:lightpink; color:white">Kalem</a></td>
        </tr>
    }
</table>

<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Ekle</a>
<br />
<br />
<button type="button" class="btn btn-warning" style="background-color:palevioletred" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content"></div>
             <div class="modal-header"></div>
                  <h2 class="modal-title">Popup Diyalog Ekranı</h2>
    </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <tr>
                    <td>Seri No</td>
                    <td>Sıra No</td>
                    <td>Tutar</td>
                </tr>
                @foreach(var x in Model)
            {
                <tr>
                    <td>@x.FaturaSeriNo</td>
                    <td>@x.FaturaSiraNo</td>
                    <td>@x.Toplam</td>
                </tr>
            }
            </table>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
        </div>
</div>
